$dark-bg-color: #BDC3C7;
$light-bg-color: #EEEEEE;

.calculator {
  width: 70vh;
  margin: 2vh auto;
  .result {
    background-color: $light-bg-color;
    height: 20vh;
    text-align: right;
    font-size: 10vh;
  }
  .preview {
    background-color: $dark-bg-color;
    height: 10vh;
    text-align: right;
    font-size: 6vh;
  }
  .num {
    font-size: 6vh;
    height: 12vh;
    text-align: center;
    background-color: darken($dark-bg-color, 20%);
    &:hover {
      background-color: darken($dark-bg-color, 5%);
    }
  }
  .symbol {
    font-size: 5vh;
    height: 8vh;
    text-align: center;
    background-color: darken($light-bg-color, 20%);
    &:hover {
      background-color: darken($light-bg-color, 5%);
    }
  }
}